<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="scout_mini">

    <xacro:include filename="scout_mini_core.xacro" />
    <!-- <xacro:include filename="$(find my_robot_description)/urdf/scout_wheel.gazebo" />  -->
     <!-- Output -->
            <!-- <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame> -->

            <!-- <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>
     -->
</robot>